[submodule "openmodules"]
	path = openmodules
	url = https://github.com/Alb-O/openmodules
[submodule "impire"]
	path = impire
	url = https://github.com/Alb-O/impire
[submodule "imp.dev"]
	path = imp.dev
	url = https://github.com/imp-nix/imp.dev
[submodule "pw-rs"]
	path = pw-rs
	url = https://github.com/Alb-O/pw-rs
[submodule "opencode"]
	path = opencode
	url = https://github.com/sst/opencode
[submodule "opentui"]
	path = opentui
	url = https://github.com/sst/opentui
[submodule "opencodium"]
	path = opencodium
	url = https://github.com/Alb-O/opencodium
[submodule "helium-browser-flake"]
	path = helium-browser-flake
	url = https://github.com/Alb-O/helium-browser-flake
[submodule "engrams"]
	path = engrams
	url = https://github.com/Alb-O/engrams
[submodule "playwriter"]
	path = playwriter
	url = https://github.com/remorses/playwriter
[submodule "tome"]
	path = tome
	url = https://github.com/Alb-O/tome
[submodule "frz"]
	path = frz
	url = https://github.com/Alb-O/frz
[submodule "bat"]
	path = bat
	url = https://github.com/sharkdp/bat
